defmodule DynamicSchemaWeb.Schema.<%= @module_name %> do
  use Absinthe.Schema.Notation

  object :<%= @object_name %> do
  <%= for {name, type} <- @schema do %>
    field(:<%= name %>, :<%= type %>)
  <% end %>
  end
end
