<h1>Show Object</h1>

<ul>

  <li>
    <strong>Struct:</strong>
    <%= @object.struct %>
  </li>

  <li>
    <strong>Data:</strong>
    <%= @object.data %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.object_path(@conn, :edit, @object) %></span>
<span><%= link "Back", to: Routes.object_path(@conn, :index) %></span>
